<div class="row">
  <aside class="span4">
    <section>
      <h3>Information about user</h3>
      <hr />
      <h1>
        <%= image_tag @user.avatar.url(:medium), class:"img-thumbnail"%>
        <%= @user.name %>
      </h1>
      <p>Email: <%= @user.email %></p>
    </section>

    <%= link_to 'Back', users_admin_index_path, class:"btn btn-primary" %>

  </aside>
</div>
