<div class="text-center jumbotron">
    <h1>Welcome to the Messenger App</h1>
    <p><%= image_tag("index.jpeg", alt: "Message", class:"img-thumbnail") %></p>
    <% if user_signed_in? %>
    <%= link_to 'Your messages', mailbox_inbox_path, class: "btn btn-success btn-lg" %>
      <% if current_user.admin? %>
        <%= link_to "All Users", users_admin_index_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    <% else %>
    <%= link_to "Log in now!", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <% end %>
</div>
